@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
    font-family: Nunito, sans-serif;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    background-color: #D7CCC8
}

body {
    margin-bottom: 60px;
    background-color: #D7CCC8
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

/* Card Styles */
.card {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: transform 0.2s ease-in-out;
}

    .card:hover {
        transform: scale(1.05);
    }

.card-img-top {
    height: 288px;
    object-fit: cover;
}

.card-title {
    line-height: 1.4;
    height: calc(1.4em * 1);
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    line-height: 1.4;
    height: calc(1.4em * 2);
    overflow: hidden;
    text-overflow: ellipsis;
}
